<form action="/signup" method="Post">
    <input type="email" name="email" placeholder="Insert Email">
    <input type="password" name="password" placeholder="password">
    <button type="submit">
      Signup
    </button>
</form>